/**
  |============================
  | Variables
  |============================
*/
:root {
  /* Fonts */
  --primary-font: 'Montserrat', sans-serif;
  --secondary-font: 'Roboto', sans-serif;

  /* Colors */
  --primary-cl: #111111;
  --secondary-cl: #ffffff;
  --accent-cl: #fd9222;
  --light-cl: #fafafa;
  --light-cl-10: rgba(255, 255, 255, 0.1);
  --light-cl-70: rgba(255, 255, 255, 0.7);
  --dark-cl-10: rgba(17, 17, 17, 0.1);
  --dark-cl-40: rgba(17, 17, 17, 0.4);
  --dark-cl-70: rgba(17, 17, 17, 0.7);

  --primary-bg-cl: #1e1823;

  /* Others */
  --btn-radius: 100px;

  /* Card set */
  --indent-y: 32px;
  --indent-x: var(--indent-y);
  --items: 1;

  /* Reviews image size */
  --width: 80px;
  --height: var(--width);

  /* Transition */
  --fast-trns: 300ms ease;
}

/**
  |============================
  | Base styles
  |============================
*/
body {
  font-family: var(--primary-font);
  font-size: 14px;

  color: var(--primary-cl);
  background-color: var(--light-cl);
}
/* Reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: currentColor;
}
button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Reset end */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.hide {
  display: none !important;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
/* Mobile screen */
.container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;

  outline: 2px solid red;
  outline-offset: -2px;
}
/* Tablet screen */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 736px;
    padding: 0 16px;
  }
}
/* Desktop screen */
@media only screen and (min-width: 1168px) {
  .container {
    max-width: 1168px;
  }
}
.ingridients-title,
.made-title,
.products-title,
.bestsellers-title,
.reviews-title {
  max-width: 412px;
  margin: 0 auto;
  margin-bottom: 50px;

  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.accent {
  color: var(--accent-cl);
}
.btn {
  padding: 14px 40px;
  font-weight: 600;
  line-height: 1.21;
  color: var(--secondary-cl);
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: var(--btn-radius);

  transition: color 300ms ease, background-color 300ms ease,
    border-color 300ms ease;
}
.btn-accent {
  background-color: var(--accent-cl);
}
.btn-accent:hover,
.btn-accent:focus {
  color: var(--accent-cl);
  background-color: #fcf1e0;
}
.btn-light {
  color: var(--secondary-cl);
  border-color: var(--secondary-cl);
}
.btn-light:hover,
.btn-light:focus {
  color: var(--accent-cl);
  border-color: var(--accent-cl);
}
.btn-dark {
  font-size: 18px;
  color: currentColor;
  border-color: var(--accent-cl);
}
.btn-dark:hover,
.btn-dark:focus {
  color: var(--secondary-cl);
  background-color: var(--accent-cl);
}
/* Card set */
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent-x) var(--indent-y);
}
.card-set-item {
  width: calc((100% - var(--indent-y) * (var(--items) - 1)) / var(--items));
}
/**
  |============================
  | Header styles
  |============================
*/
@media only screen and (max-width: 767.98px) {
  .header {
    padding: 20px 0 14px;
  }
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  display: flex;
}
.header-logo {
  display: flex;
  align-items: center;
  gap: 4px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
}
@media only screen and (min-width: 768px) {
  .header-logo {
    margin-right: 47px;
  }
}
@media only screen and (min-width: 1168px) {
  .header-logo {
    font-size: 18px;
    margin-right: 365px;
  }
}
.header-logo-italic {
  font-style: italic;
}
.header-logo-icon {
  animation: rotate-in-center 4s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite
    alternate both;
}
@keyframes rotate-in-center {
  0% {
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
}
.header-nav-list {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media only screen and (max-width: 767.98px) {
  .header-nav-list {
    display: none;
  }
}
@media only screen and (min-width: 1168px) {
  .header-nav-list {
    gap: 24px;
  }
}
.header-nav-item {
}
.header-nav-link {
  position: relative;

  display: block;
  padding: 32px 0;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;

  transition-property: color;
  transition-duration: 300ms;
  transition-timing-function: ease;
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-cl);
}
.header-nav-link.current {
  color: var(--accent-cl);
}
.header-nav-link.current::after {
  content: '';
  position: absolute;
  bottom: 20px;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;

  background-color: var(--accent-cl);
  border-radius: 2px;
}

@media only screen and (max-width: 767.98px) {
  .header-socials.socials {
    display: none;
  }
}
.header-socials-item {
}
.header-socials-link {
}
.header-socials-icon {
}
.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  background-color: transparent;
  border: none;
}
@media only screen and (min-width: 768px) {
  .header-menu {
    display: none;
  }
}
.header-menu-icon {
  stroke: var(--primary-cl);
}
/**
  |============================
  | Hero styles
  |============================
*/
.hero {
  padding-bottom: 80px;
}
.hero-container {
  padding: 40px;
  padding-top: 381px;
  border-radius: 30px;
  min-height: 620px;

  background-color: rgba(17, 17, 17, 0.7);
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url('../images/hero/hero-bg_mob@1x.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media only screen and (min-resolution: 192dpi), (min-device-pixel-ratio: 2) {
  .hero-container {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../images/hero/hero-bg_mob@2x.jpg');
  }
}
@media only screen and (min-width: 768px) {
  .hero-container {
    min-height: 890px;
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../images/hero/hero-bg_tab@1x.jpg');
  }

  /* @media (min-resolution: 192dpi) {
    .hero-container {
      background-image: linear-gradient(
          rgba(17, 17, 17, 0.4),
          rgba(17, 17, 17, 0.4)
        ),
        url('../images/hero/hero-bg_tab@2x.jpg');
    }
  } */
}
@media only screen and (min-width: 768px) and (min-resolution: 192dpi),
  (min-width: 768px) and (min-device-pixel-ratio: 2) {
  .hero-container {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../images/hero/hero-bg_tab@2x.jpg');
  }
}
@media only screen and (min-width: 1168px) {
  .hero-container {
    min-height: 600px;
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../images/hero/hero-bg_desk@1x.jpg');
  }
}
@media only screen and (min-width: 1168px) and (min-resolution: 192dpi),
  (min-width: 1168px) and (min-device-pixel-ratio: 2) {
  .hero-container {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../images/hero/hero-bg_desk@2x.jpg');
  }
}
.hero-title {
  width: 484px;
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: var(--secondary-cl);

  animation: move-right 800ms ease-in-out 1000ms both;
}
@keyframes move-right {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.hero-controls {
  display: flex;
  gap: 14px;
  animation: move-top 800ms ease-in-out 1800ms both;
}

@keyframes move-top {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.hero-btn {
  display: inline-flex;
  align-items: center;
  gap: 14px;
  margin-left: auto;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.03em;
  color: var(--secondary-cl);

  padding: 0;
  background-color: transparent;
  border: transparent;
  transition: color var(--fast-trns);
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--accent-cl);
}

.hero-btn-icon {
  --fill: var(--accent-cl);
  fill: currentColor;
  transition: fill var(--fast-trns);
}

.hero-btn:hover .hero-btn-icon,
.hero-btn:focus .hero-btn-icon {
  --fill: var(--secondary-cl);
}

/**
  |============================
  | Benefits styles
  |============================
*/
.benefits {
  padding: 20px 0;
  background-color: var(--primary-bg-cl);
}
@media only screen and (min-width: 768px) {
  .benefits {
    padding: 50px 0;
  }
}
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
}
@media only screen and (min-width: 768px) {
  .benefits-list {
    row-gap: 44px;
    column-gap: 88px;
  }
}
@media only screen and (min-width: 1168px) {
  .benefits-list {
    justify-content: center;
  }
}
@media only screen and (min-width: 768px) {
  .benefits-item {
    position: relative;
    width: 308px;
  }
}
@media only screen and (min-width: 1168px) {
  .benefits-item:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -44px;
    transform: translateY(-50%);

    display: block;
    width: 1px;
    height: 124px;

    background-color: rgba(255, 255, 255, 0.5);
  }
}
.benefits-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 62px;
  height: 62px;
  margin-bottom: 22px;

  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.benefits-subtitle {
  margin-bottom: 18px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: var(--secondary-cl);
}
.benefits-desc {
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--light-cl-70);
}
/**
  |============================
  | Ingridients styles
  |============================
*/
.ingridients {
  padding-top: 120px;
}
@media only screen and (min-width: 768px) {
  .ingridients-list {
    --items: 2;
  }
}
@media only screen and (min-width: 1168px) {
  .ingridients-list {
    --items: 4;
  }
}
.ingridients-item {
  position: relative;

  padding: 28px 23px;
  border-radius: 15px;
  border: 1px solid transparent;
  background-color: var(--secondary-cl);
}
.ingridients-item:nth-child(4n + 1) {
  color: var(--secondary-cl);
  background-color: var(--accent-cl);
}
.ingridients-item:nth-child(4n + 3) {
  color: var(--secondary-cl);
  background-color: var(--primary-bg-cl);
}
.ingridients-item:nth-child(2n) {
  border-color: var(--accent-cl);
}

@media only screen and (max-width: 767px) {
  .ingridients-item:nth-last-child(-n + 3) {
    display: none;
  }
}
.ingridients-icon {
  position: absolute;
  top: 14px;
  right: 14px;

  fill: none;
  stroke: var(--secondary-cl);
}
.ingridients-item:nth-child(2n) .ingridients-icon {
  fill: none;
  stroke: var(--accent-cl);
}
.ingridients-ill {
  margin: 0 auto;
}
@media only screen and (min-width: 1168px) {
  .ingridients-ill {
    width: 214px;
    height: 160px;
  }
}
.ingridients-caption {
  margin-top: 36px;

  font-size: inherit;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

/**
  |============================
  | Made styles
  |============================
*/
.made {
}
.made-wrapper {
  display: flex;
  gap: 20px;
}
.made-left-side {
  position: relative;
  width: 600px;
  overflow: hidden;
}
.made-pic {
}
.made-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: transparent;
  border: none;
}
.made-btn-icon {
  fill: var(--light-cl);
  stroke: var(--light-cl);
}
.made-right-side {
  width: 516px;
  padding: 32px;
  background-color: var(--secondary-cl);
  border-radius: 15px;
}
.made-subtitle {
  width: 350px;
  margin-bottom: 28px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}
.made-list {
}
.made-item {
  display: flex;
  gap: 8px;

  line-height: 1.29;
  letter-spacing: -0.02em;
}
.made-item:not(:last-child) {
  margin-bottom: 24px;
}
.made-item::before {
  content: '';
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  margin-top: 5px;

  background-color: #4c4c4c;
  outline: 1px solid #eceded;
  border-radius: 50%;

  /* Складні фігури маркерів списків */
  /* background-image: url('../images/icons/dot.svg');
  background-repeat: no-repeat;
  background-position: center; */
}
/**
  |============================
  | Products styles
  |============================
*/
.products {
}
.products-title {
}
.products-list {
  --indent-y: 18px;
  --indent-x: 24px;
}
.products-item {
  padding: 32px 20px;
  border-radius: 15px;
  border: 1px solid var(--dark-cl-10);
  background-color: var(--secondary-cl);
}
.products-ill {
  margin: 0 auto;
}
.products-heading {
  margin-top: 8px;
  margin-bottom: 2px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
}
.products-category {
  margin-bottom: 18px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: var(--dark-cl-70);
  text-align: center;
}
.products-price {
  width: fit-content;
  padding: 8px 20px;
  margin: 0 auto;

  font-weight: 600;
  line-height: 1.21;

  background-color: var(--light-cl);
  border-radius: 100px;
  border: 1px solid var(--dark-cl-10);
  background-color: var(--light-cl);
}
/**
  |============================
  | Bestsellers styles
  |============================
*/
.bestsellers {
}
.bestsellers-title {
}
.bestsellers-list {
  --items: 3;
  --indent-y: 16px;
}
.bestsellers-item {
  background-color: var(--secondary-cl);
}
.bestsellers-thumb {
  position: relative;
  overflow: hidden;
}
.bestsellers-img {
  border-radius: 15px 15px 0px 0px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 40px;

  border-radius: 15px 15px 0px 0px;
  background-image: linear-gradient(
    165deg,
    rgba(253, 253, 255, 0.1) 4%,
    rgba(8, 2, 21, 0) 110%
  );
  backdrop-filter: blur(8px);

  transition: transform 400ms ease;
}
.bestsellers-item:hover .overlay {
  transform: translateY(0);
}
.overlay-desc {
  color: var(--light-cl);
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
}
.bestsellers-wrapper {
  padding: 28px;
  border-radius: 0px 0px 15px 15px;
  border: 1px solid var(--dark-cl-10);
  border-top: none;
  background-color: var(--secondary-cl);
}
.bestsellers-caption {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
}
/**
  |============================
  | Reviews styles
  |============================
*/
.reviews {
  padding-bottom: 120px;
}
.reviews-title {
  margin-bottom: 91px;
}
.reviews-list {
  --items: 3;
  --indent-y: 28px;

  margin-bottom: 50px;
}
.reviews-item {
  position: relative;

  padding: 28px;
  padding-top: 56px;
  background-color: var(--secondary-cl);

  border-radius: 15px;
  border: 1px solid var(--dark-cl-10);
  box-shadow: 0px 10px 100px 0px var(--dark-cl-10);
}
.reviews-avatar {
  width: var(--width);
  height: var(--height);

  position: absolute;
  top: -42px;
  left: calc(50% - (var(--width) / 2));
}
.reviews-author {
  margin-bottom: 24px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
}
.reviews-text {
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}
.reviews .btn {
  display: block;
  margin: 0 auto;
}
/**
  |============================
  | Footer styles
  |============================
*/
.footer {
  padding: 50px 0;
  background-color: var(--primary-bg-cl);
}
.footer-top {
  position: relative;

  display: flex;
  justify-content: space-between;

  padding-bottom: 50px;
}
.footer-top::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-slogan {
  width: 300px;

  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: var(--secondary-cl);
}
.footer-slogan-accent {
  color: var(--accent-cl);
}
.footer-address {
  display: flex;
  gap: 50px;
}
.footer-address-subject {
  margin-bottom: 14px;

  font-weight: 500;
  line-height: 1.29;
  color: var(--secondary-cl);
}
.footer-socials .socials-link {
  color: var(--secondary-cl);
  border-color: var(--light-cl-10);
}
.footer-contatcs {
}
.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 24px;
}
.footer-menu {
  display: flex;
  gap: 24px;
}
.footer-menu-item {
}
.footer-menu-link {
  display: block;
  padding: 18px 0;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: var(--secondary-cl);

  transition: color var(--fast-trns);
}
.footer-menu-link:hover,
.footer-menu-link:focus {
  color: var(--accent-cl);
}
.footer-form {
  display: flex;
  gap: 8px;
}
.footer-form-input {
  width: 313px;
  height: 52px;
  padding: 14px 24px;

  font-size: 18px;
  line-height: 1.22;
  letter-spacing: -0.02em;
  color: white;

  background-color: transparent;
  border-radius: 30px;
  border: 2px solid rgba(255, 255, 255, 0.15);
  outline: transparent;
}
.footer-form-input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}
/* Socials */
.socials {
  display: flex;
  gap: 14px;
}
.socials-item {
  width: 40px;
  height: 40px;
}
.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  color: var(--primary-cl);

  border-radius: 10px;
  border: 1px solid var(--dark-cl-10);

  transition: color 300ms ease, border-color 300ms ease;
}
.socials-link:hover,
.socials-link:focus {
  color: var(--accent-cl);
  border-color: rgba(253, 146, 34, 0.1);
}
.socials-icon {
  fill: currentColor;
}

/* Contacts */
.contacts {
}
.contacts-item:not(:last-child) {
  margin-bottom: 4px;
}
.contacts-link {
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--secondary-cl);

  transition: color var(--fast-trns);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-cl);
}
/**
  |============================
  | Modal window
  |============================
*/
/* visible state */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(17, 17, 17, 0.4);

  opacity: 1;
  pointer-events: initial;
  visibility: visible;

  transition: opacity 400ms linear, visibility 400ms linear;
}
/* hidden state */
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  transition-delay: 400ms;
}
/* visible state */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scale(1);

  width: 517px;
  min-height: 794px;
  padding: 40px;

  background-color: var(--light-cl);
  border-radius: 15px;
  opacity: 1;

  transition: transform 400ms ease-in, opacity 400ms ease-in;
  transition-delay: 400ms;
}
/* hidden state */
.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translateX(-50%) translateY(-50%) scale(0.4);
  transition-delay: 0ms;
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 28px;
  height: 28px;

  padding: 0;

  background-color: transparent;
  border: none;
}
.modal-btn-icon {
  stroke: var(--primary-cl);
}

.modal-caption {
  display: block;
  width: 298px;
  margin-bottom: 40px;

  font-size: 24px;
  font-weight: 600;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.modal-caption-accent {
  color: var(--accent-cl);
}
.modal-form {
}
.form-box {
  margin-bottom: 18px;
}
.form-label {
  display: block;
  margin-bottom: 8px;

  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}
.form-field {
  position: relative;
}
/* Inputs */
.form-input {
  width: 100%;
  height: 68px;
  padding: 22px 62px;

  font-size: 16px;
  line-height: 1.5;

  border-radius: 13px;
  border: 2px solid rgba(17, 17, 17, 0.05);
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.03);
  outline: transparent;

  transition: border var(--fast-trns), box-shadow var(--fast-trns);
}
.form-input:focus {
  border-color: var(--accent-cl);
  box-shadow: 0 0 0 4px rgba(253, 146, 34, 0.25);
}
.form-input:not(:placeholder-shown):required:valid {
  border-color: #90ee90;
  box-shadow: none;
}
.form-input:not(:placeholder-shown):required:invalid {
  border-color: #e74a3b;
  box-shadow: none;
}
.form-input::placeholder {
  opacity: 0;
  transition: opacity 200ms ease-out 0ms;
}
.form-input:focus::placeholder {
  opacity: 1;
  transition-delay: 400ms;
}
.form-icon {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);

  stroke: #404040;
  transition: stroke var(--fast-trns);
}
.form-input:focus + .form-icon {
  stroke: var(--accent-cl);
}
.form-input:not(:placeholder-shown):required:invalid + .form-icon {
  stroke: #e74a3b;
}
.form-input:not(:placeholder-shown):required:valid + .form-icon {
  stroke: #90ee90;
}

/* Validate form iput */
.form-icon-status {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
}

.form-icon-status > .error,
.form-icon-status > .success {
  transform-origin: center;
  transform: scale(0.3);
  opacity: 0;
  transition: opacity 400ms ease, transform 400ms ease;
}
.form-input:not(:placeholder-shown):required:invalid
  ~ .form-icon-status
  > .error {
  opacity: 1;
  transform: scale(1);
}
.form-input:not(:placeholder-shown):required:valid
  ~ .form-icon-status
  > .success {
  opacity: 1;
  transform: scale(1);
}
/* Text notification */
.form-status-error {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(116%);

  width: 100%;
  font-size: 10px;
  text-align: center;
  color: #e74a3b;

  opacity: 0;
  visibility: hidden;
  transition: opacity 400ms ease, visibility 400ms ease;
}
.form-input:not(:placeholder-shown):required:invalid ~ .form-status-error {
  opacity: 1;
  visibility: visible;
}
/* Textarea */
.form-comment {
  width: 100%;
  height: 137px;
  padding: 22px 24px;

  font-size: 18px;
  letter-spacing: -0.02em;

  border-radius: 13px;
  border: 2px solid rgba(17, 17, 17, 0.05);
  outline: transparent;
  resize: none;
  transition: border var(--fast-trns), box-shadow var(--fast-trns);
}
.form-comment::placeholder {
  color: rgba(64, 64, 64, 0.3);
}
.form-comment:focus {
  border-color: var(--accent-cl);
  box-shadow: 0 0 0 4px rgba(253, 146, 34, 0.25);
}
.form-comment:not(:placeholder-shown):required:valid {
  border-color: #90ee90;
  box-shadow: none;
}
.form-comment:not(:placeholder-shown):required:invalid {
  border-color: #e74a3b;
  box-shadow: none;
}
.form-agreement {
  display: flex;
  align-items: center;

  margin-bottom: 40px;
  user-select: none;
}
/* input[type='checkbox'] {
  position: absolute;
  transform: scale(0);
  appearance: none;
} */
.custom-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;
  margin-right: 12px;

  background-color: transparent;
  border: 1px solid rgba(17, 17, 17, 0.14);
  border-radius: 6px;
  transition: background-color var(--fast-trns), border-color var(--fast-trns);
}
input[type='checkbox']:checked + .custom-checkbox {
  background-color: #fd9222;
  border-color: #fd9222;
}
.custom-checkbox-icon {
  fill: transparent;
  transition: fill var(--fast-trns);
}
input[type='checkbox']:checked + .custom-checkbox > .custom-checkbox-icon {
  fill: var(--secondary-cl);
}

.form-agreement {
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
}
.form-agreement-link {
  margin-left: 4px;

  color: var(--accent-cl);
  text-decoration: underline;
}

/* Version 2. Custom checkbox */
.form-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  margin-right: 12px;

  background-size: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10' fill='none'%3E%3Cpath d='M3.94874 9.75416C4.38459 9.75416 4.71409 9.58679 4.93724 9.25207L9.76464 1.97696C9.84484 1.85841 9.90411 1.7416 9.94247 1.62654C9.98082 1.50799 10 1.39467 10 1.28658C10 0.986723 9.8954 0.739164 9.68619 0.543906C9.48047 0.345161 9.22594 0.245789 8.92259 0.245789C8.71339 0.245789 8.53556 0.28763 8.38912 0.371312C8.24616 0.451507 8.11018 0.590977 7.98117 0.789722L3.92782 7.15478L1.89854 4.72278C1.67887 4.46824 1.40342 4.34098 1.07218 4.34098C0.761855 4.34098 0.505579 4.44035 0.303347 4.63909C0.101116 4.83784 0 5.08714 0 5.387C0 5.52299 0.0209205 5.652 0.0627615 5.77403C0.108089 5.89258 0.190028 6.01636 0.308577 6.14537L3.00209 9.32006C3.24965 9.60946 3.5652 9.75416 3.94874 9.75416Z' fill='white'/%3E%3C/svg%3E");

  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  transition: var(--fast-trns);
}
.form-checkbox:checked {
  background-color: var(--accent-cl);
  border-color: transparent;
  background-size: 10px;
}
[data-modal-send]:disabled {
  background-color: #777777;
  color: white;
  cursor: not-allowed;
}
/**
  |============================
  | Mobile menu
  |============================
*/
.menu-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 80px 35px 40px 40px;
  background-color: var(--secondary-cl);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 28px;
  height: 28px;

  background-color: transparent;
  border: 1px solid var(--primary-bg-cl);
  border-radius: 50%;
}
.menu-toggle-icon {
  stroke: var(--primary-cl);
}
.mobile-menu {
  margin-bottom: auto;
}
.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-menu-link {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.mobile-menu-link.current {
  color: var(--accent-cl);
}
.mobile-contacts {
  margin-bottom: 48px;
}
.mobile-contatcs-item:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-contacts-link {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.mobile-contacts-link.active {
  color: var(--accent-cl);
}
@media only screen and (min-width: 428px) {
  .mobile-contacts-link.active {
    font-size: 36px;
  }
}

@media only screen and (max-width: 427.98px) {
  .mobile-socials {
    justify-content: space-between;
  }
}
@media only screen and (min-width: 428px) {
  .mobile-socials {
    gap: 56px;
  }
}

/**
  |============================
  | Footer WebStudio
  |============================
*/
.w-footer {
  padding: 96px 0;
  background-color: #2e2f42;
}
@media only screen and (min-width: 1158px) {
  .w-footer {
    padding: 100px 0;
  }
}
.w-container {
  min-width: 320px;
  max-width: 428px;
  margin: 0 auto;
  padding: 0 16px;
}
@media only screen and (max-width: 767px) {
  .w-container {
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  .w-container {
    max-width: 768px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .w-container {
    padding: 0 108px;
  }
}
@media only screen and (min-width: 1158px) {
  .w-container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
.w-footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
}
@media only screen and (max-width: 767px) {
  .w-footer-container {
    justify-content: center;
  }
}
@media only screen and (min-width: 1158px) {
  .w-top {
    margin-right: 120px;
  }
}

.w-logo {
  display: block;
  margin-bottom: 16px;
  color: var(--IRIS, #4d5ae5);
  font-size: 18px;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.w-logo > span {
  color: var(--CLOUD, #f4f4fd);
}
.w-desc {
  max-width: 268px;
  margin: 0 auto;
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  text-align: left;
}
@media only screen and (min-width: 1158px) {
  .w-middle {
    margin-right: auto;
  }
}
.w-footer-caption {
  margin-bottom: 16px;
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
.w-socials {
  gap: 16px;
}
.w-socials .socials-link {
  color: var(--secondary-cl);
  border-radius: 50%;
  background-color: #4d5ae5;
}
.w-bottom {
  max-width: 453px;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .w-form {
    display: flex;
    gap: 24px;
  }
}
.w-label {
  display: block;
  margin-bottom: 16px;
}
@media only screen and (min-width: 768px) {
  .w-label {
    margin: 0;
    flex-grow: 1;
  }
}
.w-input {
  width: 100%;
  padding: 8px 16px;
  color: var(--WHITE, #fff);
  font-size: 12px;
  line-height: 24px; /* 200% */
  letter-spacing: 0.48px;

  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--WHITE, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.w-input::placeholder {
  color: currentColor;
}
.w-btn {
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;

  border: none;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);

  color: var(--WHITE, #fff);
  text-align: center;

  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}
