/**
  |============================
  | Variables
  |============================
*/
:root {
  /* Fonts */
  --primary-font: 'Montserrat', sans-serif;
  --secondary-font: 'Roboto', sans-serif;

  /* Colors */
  --primary-cl: #111111;
  --secondary-cl: #ffffff;
  --accent-cl: #fd9222;
  --light-cl: #fafafa;
  --light-cl-10: rgba(255, 255, 255, 0.1);
  --light-cl-70: rgba(255, 255, 255, 0.7);
  --dark-cl-10: rgba(17, 17, 17, 0.1);
  --dark-cl-40: rgba(17, 17, 17, 0.4);
  --dark-cl-70: rgba(17, 17, 17, 0.7);

  --primary-txt-cl: #111111;
  --secondary-txt-cl: #ffffff;

  --primary-bg-cl: #111111;
  --secondary-bg-cl: #ffffff;

  /* Others */
  --btn-radius: 100px;
}

/**
  |============================
  | Base styles
  |============================
*/
body {
  font-family: var(--primary-font);
  font-size: 14px;

  color: var(--primary-cl);
  background-color: var(--light-cl);
}
/* Reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: currentColor;
}
button {
  font-family: inherit;
  color: currentColor;
}
address {
  font-style: normal;
}
img {
  display: block;
}
/* Reset end */
.container {
  width: 1168px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;

  outline: 2px solid red;
  outline-offset: -2px;
}

.ingridients-title,
.made-title,
.products-title,
.bestsellers-title,
.reviews-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.accent {
  color: var(--accent-cl);
}
.btn {
  padding: 14px 40px;
  font-weight: 600;
  line-height: 1.21;
  color: var(--secondary-cl);
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: var(--btn-radius);
  cursor: pointer;
}
.btn-accent {
  background-color: var(--accent-cl);
}
.btn-accent:hover,
.btn-accent:focus {
  color: var(--accent-cl);
  background-color: #fcf1e0;
}
.btn-light {
  color: var(--secondary-cl);
  border-color: var(--secondary-cl);
}
.btn-light:hover,
.btn-light:focus {
  color: var(--accent-cl);
  border-color: var(--accent-cl);
}
.btn-dark {
  font-size: 18px;
  color: currentColor;
  border-color: var(--accent-cl);
}
.btn-dark:hover,
.btn-dark:focus {
  color: var(--secondary-cl);
  background-color: var(--accent-cl);
}

/**
  |============================
  | Header styles
  |============================
*/
.header {
}
.header-nav {
}
.header-logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
}
.header-logo-italic {
  font-style: italic;
}
.header-logo-icon {
}
.header-nav-list {
}
.header-nav-item {
}
.header-nav-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-cl);
}
.header-socials {
}
.header-socials-item {
}
.header-socials-link {
}
.header-socials-icon {
}
/**
  |============================
  | Hero styles
  |============================
*/
.hero {
}
.hero-container {
  padding: 40px;
  padding-top: 381px;

  background-color: rgba(17, 17, 17, 0.7);
  border-radius: 30px;
}
.hero-title {
  width: 484px;
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: var(--secondary-cl);
}
/**
  |============================
  | Benefits styles
  |============================
*/
.benefits {
  background-color: #1e1823;
}
.benefits-list {
}
.benefits-list-item {
}
.benefits-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: var(--secondary-cl);
}
.benefits-desc {
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
/**
  |============================
  | Ingridients styles
  |============================
*/
.ingridients {
}
.ingridients-list {
}
.ingridients-item {
  background-color: var(--secondary-cl);
}
.ingridients-ill {
}
.ingridients-caption {
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
/**
  |============================
  | Made styles
  |============================
*/
.made {
}
.made-title {
}
.made-pic {
}
.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}
.made-list {
}
.made-item {
  line-height: 1.29;
  letter-spacing: -0.02em;
}
/**
  |============================
  | Products styles
  |============================
*/
.products {
}
.products-title {
}
.products-list {
}
.products-item {
  background: var(--secondary-cl);
}
.products-ill {
}
.products-heading {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.products-category {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}
.products-price {
  font-weight: 600;
  line-height: 1.21;

  background-color: var(--light-cl);
}
/**
  |============================
  | Bestsellers styles
  |============================
*/
.bestsellers {
}
.bestsellers-title {
}
.bestsellers-list {
}
.bestsellers-item {
  background-color: var(--secondary-cl);
}
.bestsellers-img {
}
.bestsellers-caption {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
/**
  |============================
  | Reviews styles
  |============================
*/
.reviews {
}
.reviews-title {
}
.reviews-list {
}
.reviews-item {
  background-color: var(--secondary-cl);
}
.reviews-avatar {
}
.reviews-author {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
}
.reviews-text {
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}
/**
  |============================
  | Footer styles
  |============================
*/
.footer {
  background-color: #1e1823;
}
.footer-slogan {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: var(--secondary-cl);
}
.footer-slogan-accent {
  color: var(--accent-cl);
}
.footer-address {
}
.footer-address-subject {
  font-weight: 500;
  line-height: 1.29;
  text-align: center;
  color: var(--secondary-cl);
}
.footer-socials {
}
.footer-contatcs {
}
.footer-menu {
}
.footer-menu-item {
}
.footer-menu-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: var(--secondary-cl);
}
.footer-menu-link:hover,
.footer-menu-link:focus {
  color: var(--accent-cl);
}
/* Socials */
.socials {
}
.socials-item {
}
.socials-link {
}
.socials-icon {
}

/* Contacts */
.contacts {
}
.contacts-item {
}
.contacts-link {
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--secondary-cl);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-cl);
}
